<div id="vue-app"
    data-room-id="<%= @room.id %>"
    data-current-user='<%= {
        id: current_user.id,
        name: current_user.name,
        status: current_user.status,
        avatar_url: @current_user_avatar_url
    }.to_json %>'>
</div>